@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/RobotoRegular/RobotoRegular.woff) format("woff"), url(../assets/fonts/RobotoRegular/RobotoRegular.ttf) format("truetype")
}
@font-face {
  font-family: RobotoBold;
  font-style: bold;
  font-weight: 700;
  src: url(../assets/fonts/RobotoBold/RobotoBold.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/RobotoBold/RobotoBold.woff) format("woff"), url(../assets/fonts/RobotoBold/RobotoBold.ttf) format("truetype")
}

.spacer {
  flex: 1 1 auto;
}

[hidden][md-button] {
  display: none;
}
