@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix) format("embed-opentype")
}
